#card-body {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: all .3s;
    width: 100%;
    z-index: 1;
    min-height: 10px;
    text-decoration: none;
}

#card-body:hover {
    position:relative; bottom: 5px;
    /* transition: all .3s ease-out 1s; */
    box-shadow: 0px 2px 1px .02px #cdd0d6;
}

#filler-image {
    height: 200px;
    width: 250px;
    border-style: none;
}


#restaurant-info {
    background-color: #fff;
    color: initial;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#rest-header {
    color: #2d333f;
    margin: 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#star-rating{
    height: 30px;
    width: 60px;
}

#rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#reviews-span {
    color: #2d333f;
    margin: 0 0 0 4px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

#cuisine-price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2d333f;
    margin: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cuisine-span {
    color: #2d333f;
    margin: 0 0 8px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#price-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

#dollar-span {

}

#lighter-dollar {
    color: #0003;
    margin-left: 0px;
}

#neighborhood-span {
    margin-left: 4px;
}

#booking-wrapper {
    color: #2d333f;
    display: block;
}

#time-slots {
    align-items: flex-end;
    display: flex;
    flex: 1 1 auto;
    padding: 8px 0;
}

#time-slot-link {
    background: #da3743;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 2rem;
    justify-content: center;
    line-height: 32px;
    margin-bottom: 4px;
    margin-right: 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 4.875rem;

}

#time-slot-link:hover {
    transition: all 0.3s ease-out 0s;
    background-color: rgb(148, 32, 39);
}
