
#sticky-div {
    position: sticky;
    top: 0;
    z-index: 0;
}

article {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px #2d333f33;
    padding: 16px;
    display: block;
}

#input-field {
    border-bottom: 0.0625rem solid #d8d9db;
    color: #2d333f;
    margin: 0;
    padding: 0 0 0.75rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700
}

#party-size-select {
    bottom: 0;
    cursor: pointer;
    font: inherit;
    height: 100%;
    left: 0;
     /* opacity: 0; */
     position: absolute;
     right: 0;
    top: 0;
     width: 90%;
     margin-left: 10px;
     overflow: visible !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: field;
    border: none;
}

hr {
    border-top: 0.0625rem solid #d8d9db;
    margin: 0 16px 8px;
    width: 90%;
    background-color: #d8d9db;
    border-width: 60%;
    height: 0.0625rem;
    box-sizing: initial;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

#date-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
}

#time-button-div {
    border-radius: 4px;
    margin: 16px 16px 0;
    min-width: 9rem;
    overflow: hidden;
}

#time-button {
    background-color: #da3743;
    color: #fff;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: all .3s ease-out;
    width: 100%;
}

.today {
    width: 45%;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 0.0625rem solid #d8d9db;
    border-width: 95%;
}

.chart-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
}
