#upcoming-reservations:last-child {
    margin-bottom: 0;
}

@media (minwidth: 1056px) {
    #upcoming-reservations {
        padding: 1.5rem;
    }


    #rest-card-img {
        border-radius: 4px;
        height: 8rem;
        width: 8rem;
    }

    #rest-name-span {
        padding-left: 4px;
    }
}

@media (min-width: 768px) {
    #upcoming-reservations {
        margin: 0 0 16px;
    }

    #rest-card-img {
        border-radius: 4px;
        height: 8rem;
        width: 8rem;
    }

    #rest-name-span {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
    }
}

#upcoming-reservations {
    background: #fff;
    border-bottom: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: #2d333f;
}

#display-info-div {
    margin-top: 16px;
    padding: 16px;
    width: 95%;
    display: flex;
    justify-content: normal;
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
}

/* #display-info-div:last-child {
    margin: 0px;
} */

#reservation-status {
    align-items: center;
    display: flex;
    margin-top: 4px;
}

#svg {
    fill: green;
    padding-right: 8px;
}

#little-man {
    display: inline-block;
    /* font-size: 0rem; */
    /* height: 1.5rem;
    line-height: 1;
    min-width: 1.5rem;
    width: 1.5rem; */
    display: flex;
    align-items: center;
    padding-right: 8px;
    margin-top: 4px;
    /* padding: 0 8px 0 16px; */
}

#lil-man-svg {
    padding-right: 8px;
}

#calendar {
    margin-top: 5px;
    margin-left: 16px;
}
