

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    z-index: 10;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0000008f;
  }

  #modal-content {
    position: absolute;
    background-color:white;
    padding: 3.5rem;
    /* padding: 48px 32px; */
    min-height: calc(48.0625rem - 96px);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
  }

  #modal-content > h2 {
    font-size: 18px;
  }

  p {
    font-size: rem;
    /* margin: 4px 0px 32px; */
    font-weight: 300;
    /* line-height: .5rem; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .cont-button {
    background-color: rgb(218, 55, 67);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    margin-top: 15px;
  }

  .demo-button {
    background-color: #247f9e;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 3rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    margin-top: 15px;
  }

  .demo-button:hover {
    background-color: #0d4d62;
    transition: all .3s ease-out;
  }

  .cont-button:hover {
    background-color: #931b23;
    transition: all .3s ease-out;
  }

  .form-input {
    border: 0.0625rem solid #d8d9db;
    box-sizing: border-box;
    line-height: 24px;
    min-height: 48px;
    padding: 12px 8px;
    background-color: initial;
    height: 100%;
    width: 100%;
    overflow: visible;
    border-radius: 4px;
    margin-top: 15px;
  }

  .toggle {
    margin: 0.8125rem 0px 0px;
    width: 100%;
    background-color: initial;
    color: rgb(218, 55, 67);
    border: none;
    font-weight: 500;
    line-height: 24px;
    padding: 0.75rem 16px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .toggle:hover {
    text-decoration: underline;
  }

  select#country-select{
    border: initial;
    border-radius: 4px;
    width: 4.25rem;
    border: 0.0625rem solid #d8d9db;
    margin-top: 15px;
  }


  .phone-info {
    display: flex;
    flex-direction: row;
  }

  .email-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .error-message {
    /* margin-left: 0;
    padding-left: 0; */
    list-style-type: none;
    color: #931b23;
    margin-left: 0px;
    font-size: 14 px;
  }

  .exit-button {
    position: absolute;
    background-color:white;
    top: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
  }
