#users-header {
    background: #fff;
    border-bottom: 0.0625rem solid #d8d9db;
    width: 100%;
    display: block;
}

#user-name-div {
    margin: auto;
    max-width: 64rem;
    padding: 16px 1.5rem;
}

#user-name {
    color: #2d333f;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#page-container {
    background: #f7f7f7;
    min-height: 1500px;
    width: 100%;
    position: relative;
}

#max-width {
    margin: auto;
    max-width: 64rem;
    position: relative;
}

#user-info {
    position: relative;
    height: 100%;
}

@media (min-width: 65em) {
    #user-info {
        padding-left: 200px;
    }
}

#nav-page-wrapper {
    overflow: visible;
    display: block;
    display: flex;
    color: #2d333f;
    display: flex;
    margin: auto;
    max-width: 64rem;
    padding: 0 1.5rem 64px;
    width: 100%;
}

@media (min-width: 65em) {
    #nav-page-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 1.875rem 0 1rem;
        /* width: 200px; */
    }
}

#page-nav {
    position: relative;
    width: 200px;
    padding: 32px 0;
    width: 12.5rem;
}

@media (min-width: 65em) {
    #page-nav {
        padding-left: 2rem;
    }
}



li {
    padding: 8px;
    margin: 8px;
    font-weight: 500;
}


.link {
    text-decoration: none;
    color: black;
    width: 200px;
}

.link:hover {
    text-decoration: none;
    color: red;
}

.points-reservations {
    margin: 32px 16px 0px;
    /* min-height: 32rem; */
    width: calc(100% - 15.5rem);
    border-radius: 2px;
    margin-left: 35px;
}



@media (max-width: 1055px) {
    .points-reservations {
        /* width: auto; */
    }
}

#points-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-bottom: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    margin: 1.5rem 0;
    padding: 1.5rem;
}



h2 {
    margin-top: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#main-points-slider {
    border-top: 0.0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
}


h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#on {
    font-weight: 700;
    outline: transparent solid 2px;
}

#off {
    display: block;
    color: #999;
    /* position: relative; */
    /* margin-top: 0.5rem; */
    /* padding: 0.5rem; */
}
