#rest-wrapper {
    margin: 36;

}

#restaurant-list{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* list-style-type: none;
    margin: 0;
    margin-block: 0;
    padding: 0; */
    padding-left: 100px;
}

#carousel-section {
    margin-top: 32px;
    display: block;
}

#section-header {
    border-bottom: none;
    display: block;
    padding-bottom: 0;
    padding: 0 16px;
    min-height: 3rem;
}

#Order-takeout {
    width: 100%;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 0.25rem;
}

#view-all {
    color: #da3743;
}

#outer-carousel-div {
    position: relative;
    z-index: 0;
    display: block;
}

#inner-carousel-div {
    margin-top: -8px;
    overflow-x: auto;
    padding-top: 8px;
    white-space: nowrap;
}

ul {
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    padding-left: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

#rest-cards:not(:last-child) {
    margin-right: 8px;
}

#rest-cards {
    width: 236px!important;
    isplay: list-item;
}

.scroll-button {
    top: 200px!important;

    margin-top: 0;
    position: absolute;
    z-index: 3;
    align-items: center;
    background-color: #fff;
    border: 0.0625rem solid #d8d9db;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.5rem #9996;
    display: inline-flex;
    height: 42px;
    justify-content: center;
    width: 42px;
}


#right-scroll-button {
    right: 67px;
    transform: rotate(-90deg);
}

#left-scroll-button {
    left: 75px;
    transform: rotate(90deg);
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

.scroll-button:hover {
    border-color: red;
    border-width: 2px;
}
